body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
/*@import url(https://fonts.googleapis.com/css?family=Lato:700|Merriweather:300,300italic,700);

h1,h2,h3,h4,h5,h6 {
  font-family: "Lato", sans-serif;
  font-weight: 700;
}
p,a,li,blockquote {
  font-family: "Merriweather", serif;
  font-weight: 300;
}*/
